@import "tailwindcss/preflight";
@tailwind utilities;
@reference "tailwindcss"
@import "github-markdown-css/github-markdown.css";


html,
body {
  height: 100%;
}

body {
  @apply bg-black text-white antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

/* Linear-style glow background */
.linear-bg {
  background: radial-gradient(
      circle at top,
      rgba(34, 197, 94, 0.12),
      transparent 55%
    ),
    radial-gradient(
      circle at bottom,
      rgba(59, 130, 246, 0.08),
      transparent 60%
    );
}

.markdown-body {
  background: transparent !important;
  color: white !important;
  padding: 2rem;
}

.markdown-body pre {
  background: #111 !important;
  padding: 12px;
  border-radius: 10px;
}